body, .hero {
    background-color:black;
}

.flex-container {
    display: flex;
    
    height: 100vh;
    
    border: 2px solid black;
    justify-content: center;
    align-items: center;
}

.createAccount, .sign-in-account {
    
    width: 50%;
    height: 30rem;
    text-align: center;
    background-color: ghostwhite;
    border-radius: 10px;

}

/*@media(max-width: 767px) {
    .createAccount {
        height: 100rem;
        width: 200rem;
        margin: 0%;
    }
    
}*/

.grid-container {

    display: grid;
    /*border: 2px solid red;*/
    margin: 20px;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 2fr 1fr 2fr 2fr 2fr 2fr;
    gap: 10px;
    
}

.col {
    /*border: 2px solid green;*/
    display: flex;
    flex-direction: column;
    min-height: 10rem;
    background-color: #CADEF9;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    
    
    
    
}




.user-btn {
    height: 2rem;
    width: 4rem;
    border-radius: 10px;
    margin-right: 10px;
    
}

.btn-box {
    display: flex;
    flex-direction: row;
    /*height: 5rem;*/
    /*border: 2px solid black;*/
    justify-content: space-between;
    align-self: flex-end;
    
}


.textbox {
    display: flex;
    /*border: 2px solid green;*/
    min-height: 90%;
}

.flex-posting-window {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15rem;
    padding: 10px;
}


.posting-window > textarea {
    height: 15rem;
    width: 30rem;
    border-radius: 10px;
    border: 10px solid #CADEF9;
    
}

.hidden-window {
    display: none;
}
